<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateCourse" method="post">
        <input type="text" placeholder="Name" name="name" value="<%= course.name %>">
        <input type="text" placeholder="Code" name="code" value="<%= course.code %>">
        <input type="number" step=".1" placeholder="Credits" name="credits" value="<%= course.credits %>">
        <input type="text" placeholder="Description" name="description" value="<%= course.description %>">
        <button type="submit"  name="btn" value="<%= course.id %>">Update</button>
    </form>
</body>
</html>